<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content=" tchat">
        <meta name="author" content="">

        <title>Mon Chat</title>

        {#<!-- Bootstrap core CSS -->#}
        {#<link href="../../src/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>#}
        {#<!-- Bootstrap 3.3.6 -->#}
        {#<link href="../../src/resources/bootstrap/js/bootstrap.min.js" rel="stylesheet" type="text/js"/>#}
        {#<link href="../../src/resources/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>#}
        {#<link href="../../src/resources/bootstrap/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>#}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/stylesheet.css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    </head>

    <body>
        <div class="jumbotron text-center">
            <div class="page-header">
                <h1>Chat</h1>
            </div>
         <p>Local-hosted chat for special english readers users only (lol)</p>
        </div>
        <div class="container container center text-center ng-scope">
            <div class="row text-center">
                <div class="col-sm-4">
                </div>

              <div class="col-md-4">
                    <h3>Connexion</h3>
                    <h4> 
                    {%if message %} {{message}}{% endif %}
                    </h4>
                    <form method="post" action="/">

                        {#<div class="form-group input-group">#}
                            {#<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>#}
                            {#<input class="form-control" type="text" name='handle' placeholder="handle" ng-model="login_data.handle"/>#}
                        {#</div>#}
                        {#<div class="form-group input-group">#}
                            {#<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>#}
                            {#<input class="form-control" type="password" name='password' placeholder="password" ng-model="login_data.password" my-enter="login()"/>#}
                        {#</div>#}
                        {#<div class="checkbox">#}
                            {#<label><input type="checkbox" value="" checked>Remember me</label>#}
                        {#</div>#}
                        {#<button type="button" class="btn btn-primary btn-block" ng-click="login()"><span class="glyphicon glyphicon-off"></span>#}
                            {#Login</button>#}
                        {#<div class="form-group pull-left"><a href="#">Forgot Password?</a>#}
                        {#</div>#}
                        {#<div class="form-group pull-right">Not a member?<a href="#" data-toggle="modal" data-target="#myModal">Register</a>#}
                        {#</div>#}

                        <input type="text" class="form-control" name="login" required="true" /> <br/>
                        <input type="password" name="password" class="form-control" required="true"/> <br/>
                        <input type="submit" value="Connexion" class="btn btn-control">
                        <div class="form-group pull-right">Not a member?<a href="#" data-toggle="modal" data-target="#myModal">Register</a>
                        </div>


                    </form>

                  {#<div class="modal fade" id="myModal" role="dialog">#}
                      {#<div class="modal-dialog">#}
                          {#<div class="modal-content" >#}
                              {#<div class="modal-header" style="padding:15px 50px;">#}
                                  {#<button type="button" class="close" data-dismiss="modal">&times;</button>#}
                                  {#<h4 class="text-center"><span class="glyphicon glyphicon-lock"></span> Register</h4>#}
                              {#</div>#}
                              {#<div class="modal-body" style="padding:20px 50px;">#}
                                  {#<form role="form" action="http://localhost:8080/register" method="post">#}
                                      {#<div class="form-group">#}
                                          {#<label for="name"><span class="glyphicon glyphicon-user"></span> Name</label>#}
                                          {#<input type="text" class="form-control" id="name" placeholder="Full Name" ng-model="user.name">#}
                                      {#</div>#}
                                      {#<div class="form-group">#}
                                          {#<label for="handle"><span class="glyphicon glyphicon-user"></span> Handle</label>#}
                                          {#<input type="text" class="form-control" id="handle" placeholder="Enter Handle" ng-model="user.handle">#}
                                      {#</div>#}
                                      {#<div class="form-group">#}
                                          {#<label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>#}
                                          {#<input type="password" class="form-control" id="psw" placeholder="Enter password" ng-model="user.password">#}
                                      {#</div>#}
                                      {#<div class="form-group">#}
                                          {#<label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>#}
                                          {#<input type="text" class="form-control" id="email" placeholder="Enter Email" ng-model="user.email">#}
                                      {#</div>#}
                                      {#<div class="form-group">#}
                                          {#<label for="phone"><span class="glyphicon glyphicon-phone"></span> Phone</label>#}
                                          {#<input type="text" class="form-control" id="phone" placeholder="Enter Phone number" ng-model="user.phone">#}
                                      {#</div>#}

                                      {#<button type="button" class="btn btn-primary btn-block" data-dismiss="modal" ng-click="Register()"><span class="glyphicon glyphicon-off"></span>#}
                                          {#Register</button>#}
                                  {#</form>#}
                              {#</div>#}
                              {#<!--#}
                  {#<div class="modal-footer">#}
                  {#<p>Not registered? <a data-dismiss="modal" data-toggle="modalreg" data-target="#myModalReg" href="#">Sign Up</a></p>#}
                  {#<p><a href="#">Forgot Password?</a></p>#}
                  {#</div>#}
                  {#-->#}
                          {#</div>#}
                      {#</div>#}
                  {#</div>#}
              </div>
              <div class="col-sm-4">
              </div>
            </div>
        </div> 
    </body>
</html>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{#<script src="bootstrap/docs/assets/js/bootstrap.min.js"></script>#}
