<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content=" tchat">
        <meta name="author" content="">

        <title>Mon Chat</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/stylesheet.css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    </head>

    <body>
        <div class="jumbotron text-center">
            <div class="page-header">
                <h1>Chat</h1>
            </div>
         <p>Local-hosted chat for special english readers users only (lol)</p>
        </div>
        <div class="container container center text-center ng-scope">
            <div class="row text-center">
                <div class="col-sm-4">
                </div>

              <div class="col-md-4">
                    <h3>Connexion</h3>
                    <h4> 
                    {%if message %} {{message}}{% endif %}
                    </h4>
                    <form method="post" action="/">

                        <input type="text" class="form-control" name="login" required="true" /> <br/>
                        <input type="password" name="password" class="form-control" required="true"/> <br/>
                        <input type="submit" value="Connexion" class="btn btn-control">
                        <div class="form-group pull-right">Not a member?<a href="#" data-toggle="modal" data-target="#myModal">Register</a>
                        </div>

                    </form>

              </div>
              <div class="col-sm-4">
              </div>
            </div>
        </div> 
    </body>
</html>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
